.contact{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 120px;
    margin-right: 98px;
    .first{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .second{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (max-width:768px) {
    .contact{
        display: none;
    }
}